/*
 * Andoni M. Garcia. 2015.
 * CODE2040 API Challenge
 */

body, html{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
body{
    background-color: #8ca490;
    color: black;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
}

/* Everything is a border-box */

.header, .completions, .content, .buttons, .ioresponse{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Header */

.header{
    background-color: #8899A2;
    border-bottom: 1px solid black;
    height: 60px;
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.header p{
    color: #800000;
    font-family: Times, serif;
    font-size: 18px;
    margin-left: 5%;
    text-align: left;
    vertical-align: middle;
}

.header p span{
    font-weight: bold;
    font-size: 24px;
    margin-right: 8px;
}

.header a, .header a:visited{
    color: #993232;
    text-decoration: none;
}

.header a:hover, .header a:active{
    color: #993232;
    text-decoration: underline;
}

/* Completion */

.completions{
    height: 105px;
    padding: 0;
    position: relative;
    margin: 0;
}

.completions .containcompletions{
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #9c878d;
    border: 1px solid #5f4e53;
    height: 75px;
    position: relative;
    padding: 0;
    margin: 90px auto 0 auto;
    width: 80%;
}

.completions .checkboxes{
    margin: 0 auto;
    width: 90%;
}

.completions .checkboxes div{
    display: inline-block;
    font-size: 15px;
    padding: 0;
    margin: 12px 0;
    text-align: center;
    min-width: 90px;
    width: 19%;
}

.completions .checkboxes input, .completions .checkboxes p{
    padding: 0;
    margin: 5px;
}

.completions .checkboxes input{
    display: none;
}

.completions .checkboxes span{
    background: #9898FF;
    border: 1px solid black;
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;
    display: inline-block;
    width: 28px;
    height: 20px;
}

.completions .checkboxes input:checked + span{
    background: #ff9898;
}

.completions .checkboxes input:checked ~ p{
    color: #0e2643;
    font-weight: bold;
}


/* Content */

.content{
    margin: 0 5%;
    position: relative;
    padding-bottom: 50px;
    width: 90%;
}

/* Buttons */

.buttons{
    background-color: #9c878d;
    border: 1px solid #5f4e53;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    float: left;
    height: 320px;
    margin-bottom: 50px;
    position: relative;
    width: 125px;
}

.buttons div{
    position: relative;
}

.buttons button{
    background: #9898FF;
    border: 1px solid black;
    border-radius: 7px;
    display: block;
    margin: 30px auto;
    padding: 5px 5px;
    position: relative;
    width: 75px;
}

.buttons button:hover{
    background: #cc98ff;
}

.buttons button:active{
    background: #ff9898;
}

/* I/O Content */

.ioresponse{
    background-color: #9c878d;
    border: 1px solid #5f4e53;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    float: right;
    min-height: 320px;
    margin-bottom: 50px;
    padding: 0;
    position: relative;
    width: 75%;
}

.ioresponse p{
    font-size: 16px;
    font-family: Times, serif;
    padding: 15px 20px;
    position: relative;
    width: 90%;
}

.ioresponse p span{
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
}

.ioresponse form{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: hidden;
}

.ioresponse form div{
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.ioresponse form input{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: solid 2px #bbb;
    color: #555;
    display: block;
    margin: 5px auto;
    padding: 3px;
}

.ioresponse form button{
    background: #9898FF;
    border: 1px solid black;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    display: block;
    margin: 7px auto;
    padding: 5px 5px;
    position: relative;
    width: 75px;
}

.ioresponse form button:hover{
    background: #cc98ff;
}

.ioresponse form button:active{
    background: #ff9898;
}